* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: 2rem;
    color: white;
}

#getMeme {
    width: 80%;
    margin: 1rem 0 1rem 0;
}

#inputs {
    display: flex;
    gap: 1rem;
}

#inputs input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

#memeButton {
    margin: 1rem 0 0 0;
    width: 100%;
    background-color: purple;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

#memeButton:hover {
    background-color: rgb(58, 0, 58);
}

#image {
    max-width: 600px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 10px;
}
.bottom {
    bottom: 10px;
}
.meme {
    position: relative;
}